<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Escuela de Gimnasia</title>
    <script type="text/javascript" src="javascripts/scripts.js"></script>
</head>
    <body>
        <% include menu %>

        <div id="myModalFicha" class="modal modal-wide fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">FICHA DE ALUMNO</h4>
                    </div>
                    <div class="modal-body">


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnSaveFicha">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


        <div id="myModal" class="modal modal-wide fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">ALUMNO</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 nopadding">

                                <div class="form-group row">
                                    <label for="tutor" class="col-md-3 col-form-label col-form-label-sm">Tutor(*)</label>
                                    <div class="col-md-9">
                                        <div id="tutor"></div>
                                        <input type="hidden" class="form-control form-control-sm" id="id">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="apellidoPaterno" class="col-md-3 col-form-label col-form-label-sm">A paterno(*)</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="apellidoPaterno">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="apellidoMaterno" class="col-md-3 col-form-label col-form-label-sm">A materno(*)</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="apellidoMaterno">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="nombres" class="col-md-3 col-form-label col-form-label-sm">Nombres(*)</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="nombres">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="tipoDocumento" class="col-md-3 col-form-label col-form-label-sm">Tipo doc(*)</label>
                                    <div class="col-md-3">
                                        <div id="tipoDocumento"></div>
                                    </div>

                                    <label for="nroDocumento" class="col-md-2 col-form-label col-form-label-sm">Numdoc(*)</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control form-control-sm" id="nroDocumento">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="fechaNacimiento" class="col-md-3 col-form-label col-form-label-sm">Fecha nac(*)</label>
                                    <div class="col-md-4">
                                        <div id="fechaNacimiento"></div>
                                    </div>

                                    <label for="sexo" class="col-md-2 col-form-label col-form-label-sm">Sexo(*)</label>
                                    <div class="col-md-3">
                                        <div id="sexo"></div>
                                    </div>
                                </div>

                                <!--
                                <div class="form-group row">
                                    <label for="celular" class="col-md-3 col-form-label col-form-label-sm">Celular</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="celular">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="telefonoFijo" class="col-md-3 col-form-label col-form-label-sm">Telf. fijo</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="telefonoFijo">
                                    </div>
                                </div>
                                -->

                                <div class="form-group row">
                                    <label for="departamento" class="col-md-3 col-form-label col-form-label-sm">Dpto(*)</label>
                                    <div class="col-md-9">
                                        <div id="departamento"></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="provincia" class="col-md-3 col-form-label col-form-label-sm">Provincia(*)</label>
                                    <div class="col-md-9">
                                        <div id="provincia"></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="distrito" class="col-md-3 col-form-label col-form-label-sm">Distrito(*)</label>
                                    <div class="col-md-9">
                                        <div id="distrito"></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="direccion" class="col-md-3 col-form-label col-form-label-sm">Direccion(*)</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="direccion">
                                    </div>
                                </div>

                                <!--
                                <div class="form-group row">
                                    <label for="email" class="col-md-3 col-form-label col-form-label-sm">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="email">
                                    </div>
                                </div>
                                -->

                                <div class="form-group row">
                                    <label for="esSalud" class="col-md-3 col-form-label col-form-label-sm">EsSalud</label>
                                    <div class="col-md-3">
                                        <div id="esSalud"></div>
                                        <!--<input type="text" class="form-control form-control-sm" id="esSalud">-->
                                    </div>

                                    <label for="ciaSeg" class="col-md-2 col-form-label col-form-label-sm">Cia Seg</label>
                                    <div class="col-md-4">
                                        <div id="ciaSeg"></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="enfermedades" class="col-md-3 col-form-label col-form-label-sm">Enfermedades</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="enfermedades">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="alergias" class="col-md-3 col-form-label col-form-label-sm">Alergias</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="alergias">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="tipoAlumno" class="col-md-3 col-form-label col-form-label-sm">Tipo Alumno</label>
                                    <div class="col-md-9">
                                        <div id="tipoAlumno"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 nopadding">


                                <div class="form-group row">
                                    <label for="apepatMama" class="col-md-3 col-form-label col-form-label-sm">AP mama</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="apepatMama">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="apematMama" class="col-md-3 col-form-label col-form-label-sm">AM mama</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="apematMama">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="nombresMama" class="col-md-3 col-form-label col-form-label-sm">N mama</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="nombresMama">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="telefonoFijoMama" class="col-md-3 col-form-label col-form-label-sm">Telf mama</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="telefonoFijoMama">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="CelularMama" class="col-md-3 col-form-label col-form-label-sm">Cel mama</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="CelularMama">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="emailMama" class="col-md-3 col-form-label col-form-label-sm">Email mama</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="emailMama">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="apepatPapa" class="col-md-3 col-form-label col-form-label-sm">AP papa</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="apepatPapa">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="apematPapa" class="col-md-3 col-form-label col-form-label-sm">AM papa</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="apematPapa">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="nombresPapa" class="col-md-3 col-form-label col-form-label-sm">N papa</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="nombresPapa">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="telefonoFijoPapa" class="col-md-3 col-form-label col-form-label-sm">Telf papa</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="telefonoFijoPapa">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="CelularPapa" class="col-md-3 col-form-label col-form-label-sm">Cel papa</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="CelularPapa">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="emailPapa" class="col-md-3 col-form-label col-form-label-sm">Email papa</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="emailPapa">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="obs" class="col-md-3 col-form-label col-form-label-sm">Observaciones</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="obs">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnSave">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


        <div id='Menu'>
            <ul>
                <li>Ver Ficha</li>
                <li>Eliminar</li>
                <!--<li>Ver detalle</li>-->
            </ul>
        </div>

        <div class="row fill-height-91">
            <div class="col-md-12 fill-height-91">
                <div id="jqxToolBar"></div>
                <div id="grid"></div>
            </div>
        </div>


        <script type="text/javascript">
            $(document).ready(function () {
                $("#jqxToolBar").jqxToolBar(
                    $.extend( {},
                        vDefaultOptionsToolBar,
                        {
                            tools: 'custom | custom | custom',
                            initTools: function (type, index, tool, menuToolIninitialization) {
                                switch (index) {
                                    case 0:
                                        var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'><b>ALUMNOS &nbsp;&nbsp; </b></div>";
                                        tool.append(label);
                                        break;
                                    /*case 1:
                                        var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'>Inicio: </div>";
                                        tool.append(label);
                                        break;
                                    case 2:
                                        var fecha = $("<div id='FechaIniOS' style='margin-top: -2px;'></div>").jqxDateTimeInput({
                                            theme: theme2,
                                            value: new Date(anioActual, mesActual, 1),
                                            width: 105,
                                            height: 25,
                                            culture: 'es-ES'
                                        });
                                        tool.append(fecha);
                                        break;
                                    case 3:
                                        var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'>Fin: </div>";
                                        tool.append(label);
                                        break;
                                    case 4:
                                        var fecha = $("<div id='FechaFinOS' style='margin-top: -2px;'></div>").jqxDateTimeInput({
                                            theme: theme2,
                                            value: new Date(anioActual, mesActual, ultimoDiaMesActual),
                                            width: 105,
                                            height: 25,
                                            culture: 'es-ES'
                                        });
                                        tool.append(fecha);
                                        break;*/
                                    case 1:
                                        var addBtn = $("<div style='float: left; margin-left: 2px; position: relative; margin-top: -2px; cursor: pointer;'><img style='position: relative; margin-top: 0px; margin-left: 3px;' src='images/add.png'/><span style='margin-left: 4px; position: relative;'></span></div>").jqxButton({
                                            theme: theme2,
                                            width: 30,
                                            height: 19
                                        });
                                        tool.append(addBtn);
                                        addBtn.click(function (event) {
                                            $("#id").val('');
                                            fn_clearText();
                                            var arregloInputDateTime = ['fechaNacimiento'];
                                            fn_clearDateTimeInput(arregloInputDateTime);
                                            var arregloInputDropDownList = ['tutor', 'sexo', 'ciaSeg', 'departamento', 'provincia', 'distrito'];
                                            fn_clearDropDownList(arregloInputDropDownList);

                                            $("#departamento").jqxDropDownList('selectItem', '15' );
                                            setTimeout(function(){
                                                $("#provincia").jqxDropDownList('selectItem', '01' );
                                            }, 1000);

                                            $("#btnSave").text("Guardar");
                                            $('#myModal').modal('show');
                                        });
                                        break;
                                    /*case 2:
                                        var searchBtn = $("<div style='float: left; margin-left: 2px; position: relative; margin-top: -2px; cursor: pointer;'><img style='position: relative; margin-top: 0px; margin-left: 3px;' src='images/search.png'/><span style='margin-left: 4px; position: relative;'></span></div>").jqxButton({
                                            theme: theme2,
                                            width: 30,
                                            height: 19
                                        });
                                        tool.append(searchBtn);
                                        searchBtn.click(function (event) {
                                            var tools = $("#jqxToolBar").jqxToolBar("getTools");
                                            var fechaIni = $("#FechaIniOS").val();
                                            var fechaFin = $("#FechaFinOS").val();
                                            var fechaIniSql = fechaIni.substring(6,10)+'-'+fechaIni.substring(3,5)+"-"+fechaIni.substring(0,2);
                                            var fechaFinSql = fechaFin.substring(6,10)+'-'+fechaFin.substring(3,5)+"-"+fechaFin.substring(0,2);

                                            fn_listaTrabGridMap(fechaIniSql,fechaFinSql,usuario);
                                        });
                                        break;*/
                                    case 2:
                                        var exportBtn = $("<div style='float: left; margin-left: 2px; position: relative; margin-top: -2px; cursor: pointer;'><img style='position: relative; margin-top: 0px; margin-left: 3px;' src='images/icon_excel_02_20.png'/><span style='margin-left: 4px; position: relative;'></span></div>").jqxButton({
                                            theme: theme2,
                                            width: 30,
                                            height: 19
                                        });
                                        tool.append(exportBtn);
                                        exportBtn.click(function (event) {
                                            var JSONData = $("#grid").jqxGrid('exportdata', 'json');
                                            fn_JSONToCSVConvertor(JSONData, "ReporteAlumnos", "", true);
                                        });
                                        break;
                                }
                            }
                        }
                    )
                )

                $("#tutor").jqxDropDownList(
                    $.extend(
                        {}, vDefaultOptionsDropDownList, {
                            width: '100%',
                            dropDownWidth: 400,
                            filterable: true,
                            searchMode: 'containsignorecase'
                        }
                    )
                );

                $("#tipoDocumento").jqxDropDownList(
                    $.extend(
                        {}, vDefaultOptionsDropDownList, {
                            width: '100%'
                        }
                    )
                );

                $("#sexo").jqxDropDownList(
                    $.extend(
                        {}, vDefaultOptionsDropDownList, {
                            width: '100%'
                        }
                    )
                );

                $("#departamento").jqxDropDownList(
                    $.extend(
                        {}, vDefaultOptionsDropDownList, {
                            width: '100%'
                        }
                    )
                );
                $('#departamento').on('change', function (event)
                {
                    var args = event.args;
                    if (args) {
                        // index represents the item's index.
                        var index = args.index;
                        var item = args.item;
                        // get item's label and value.
                        var label = item.label;
                        var value = item.value;

                        //console.log(arrayProv[0]);
                        var queryResult = Enumerable.From(arrayProv[0])
                            .Where("$.ccod_dpto == '"+value+"'")
                            .Select()
                            .ToArray();

                        var height = false;
                        if(queryResult.length >= 10){
                            height = false;
                        }else{
                            height = true;
                        }
                        $("#provincia").jqxDropDownList({
                            source: queryResult,
                            displayMember: "descripcion",
                            valueMember: "ccod_prov",
                            dropDownWidth: 250,
                            dropDownHeight: 250,
                            autoDropDownHeight: height
                        });
                    }
                });


                $("#provincia").jqxDropDownList(
                    $.extend(
                        {}, vDefaultOptionsDropDownList, {
                            width: '100%'
                        }
                    )
                );
                $('#provincia').on('change', function (event)
                {
                    var args = event.args;
                    if (args) {
                        // index represents the item's index.
                        var index = args.index;
                        var item = args.item;
                        // get item's label and value.
                        var label = item.label;
                        var value = item.value;

                        //console.log(arrayDist[0]);
                        var queryResult = Enumerable.From(arrayDist[0])
                            .Where("$.ccod_dpto == '"+$("#departamento").val()+"' && $.ccod_prov == '"+value+"'")
                            .Select()
                            .ToArray();

                        var height = false;
                        if(queryResult.length >= 10){
                            height = false;
                        }else{
                            height = true;
                        }
                        $("#distrito").jqxDropDownList({
                            source: queryResult,
                            displayMember: "descripcion",
                            valueMember: "ccod_dist",
                            dropDownWidth: 250,
                            dropDownHeight: 250,
                            filterable: true,
                            searchMode: 'containsignorecase',
                            autoDropDownHeight: height
                        });
                    }
                });


                $("#distrito").jqxDropDownList(
                    $.extend(
                        {}, vDefaultOptionsDropDownList, {
                            width: '100%'
                        }
                    )
                );

                var vEsSalud = ['SI','NO'];
                $("#esSalud").jqxDropDownList(
                    $.extend(
                        {}, vDefaultOptionsDropDownList, {
                            width: '100%',
                            source: vEsSalud,
                            autoDropDownHeight: true
                        }
                    )
                );

                $("#ciaSeg").jqxDropDownList(
                    $.extend(
                        {}, vDefaultOptionsDropDownList, {
                            width: '100%'
                        }
                    )
                );

                $("#tipoAlumno").jqxDropDownList(
                    $.extend(
                        {}, vDefaultOptionsDropDownList, {
                            width: '100%'
                        }
                    )
                );


                $("#fechaNacimiento").jqxDateTimeInput(
                    $.extend(
                        {}, vDefaultOptionsDateTimeInput, {
                            width: '120',
                            formatString: 'dd/MM/yyyy',
                            showTimeButton: false
                        }
                    )
                );

                $.getJSON('/listaAlumnos/', function(json) {
                    //console.log(json.registros[0]);
                    var source =
                    {
                        datatype: "json",
                        datafields: [
                            { name: 'id_alumno', type: 'int'},
                            { name: 'id_tutor', type: 'int'},
                            { name: 'id_tipo_doc', type: 'int'},
                            { name: 'tipo_doc', type: 'string'},
                            { name: 'numdoc', type: 'string'},
                            { name: 'apepat', type: 'string'},
                            { name: 'apemat', type: 'string'},
                            { name: 'nombres', type: 'string'},
                            { name: 'fecha_nac', type: 'string'},
                            { name: 'sexo', type: 'string'},
                            { name: 'departamento', type: 'string'},
                            { name: 'provincia', type: 'string'},
                            { name: 'distrito', type: 'string'},
                            { name: 'direccion', type: 'string'},
                            { name: 'essalud', type: 'string'},
                            { name: 'id_cia_seguro', type: 'int'},
                            { name: 'cia_seguro', type: 'string'},
                            { name: 'enfermedades', type: 'string'},
                            { name: 'alergias', type: 'string'},
                            { name: 'nombre_mama', type: 'string'},
                            { name: 'apepat_mama', type: 'string'},
                            { name: 'apemat_mama', type: 'string'},
                            { name: 'tel_fijo_mama', type: 'string'},
                            { name: 'tel_cel_mama', type: 'string'},
                            { name: 'email_mama', type: 'string'},

                            { name: 'nombre_papa', type: 'string'},
                            { name: 'apepat_papa', type: 'string'},
                            { name: 'apemat_papa', type: 'string'},
                            { name: 'tel_fijo_papa', type: 'string'},
                            { name: 'tel_cel_papa', type: 'string'},
                            { name: 'email_papa', type: 'string'},

                            { name: 'id_tipo_alumno', type: 'int'},
                            { name: 'tipo_alumno', type: 'string'},

                            { name: 'observaciones', type: 'string'}
                        ],
                        localdata: json.registros[0]
                    };
                    var dataAdapter = new $.jqx.dataAdapter(source);

                    $("#grid").jqxGrid(
                    {
                        source: dataAdapter
                    });
                });

                $("#grid").jqxGrid(
                    $.extend(
                        {}, vDefaultOptionsGrid,
                        {
                            pageable: true,
                            pagesize: 20,
                            pagermode: 'simple',
                            selectionmode: 'singlerow',
                            columns: [
                                { text: 'Id Alumno', align: 'center', datafield: 'id_alumno', cellsalign: 'center', width: '6%' },
                                { text: 'Id Tutor', align: 'center', datafield: 'id_tutor', cellsalign: 'right', width: '10%' },
                                { text: 'Tipo de documento', align: 'center', datafield: 'tipo_doc', cellsalign: 'center', width: '10%' },
                                { text: 'Nro. Documento', align: 'center', datafield: 'numdoc', cellsalign: 'right', width: '10%' },
                                { text: 'Nombres', align: 'center', datafield: 'nombres', cellsalign: 'left', width: '15%'},
                                { text: 'Apellido Paterno', align: 'center', datafield: 'apepat', cellsalign: 'left', width: '15%' },
                                { text: 'Apellido Materno', align: 'center', datafield: 'apemat', cellsalign: 'left', width: '15%' },
                                { text: 'Fecha de Nac.', align: 'center', datafield: 'fecha_nac', cellsalign: 'center', width: '10%' },
                                { text: 'Sexo', align: 'center', datafield: 'sexo', cellsalign: 'center', width: '10%' },
                                { text: 'Departamento', align: 'center', datafield: 'departamento', cellsalign: 'left', width: '10%' },
                                { text: 'Provincia', align: 'center', datafield: 'provincia', cellsalign: 'left', width: '10%' },
                                { text: 'Distrito', align: 'center', datafield: 'distrito', cellsalign: 'left', width: '10%' },
                                { text: 'Direccion', align: 'center', datafield: 'direccion', cellsalign: 'left', width: '25%' },
                                //{ text: 'Telefono Fijo', align: 'center', datafield: 'telefonoFijo', width: '10%' },
                                //{ text: 'Telefono Celular', align: 'center', datafield: 'telefonoCelular', width: '10%' },
                                //{ text: 'Email', align: 'center', datafield: 'email', width: '20%' },
                                { text: 'Essalud', align: 'center', datafield: 'essalud', cellsalign: 'left', width: '10%' },
                                { text: 'Cia. Seguro', align: 'center', datafield: 'cia_seguro', width: '10%' },
                                { text: 'Enfermedades', align: 'center', datafield: 'enfermedades', width: '10%' },
                                { text: 'Alergias', align: 'center', datafield: 'alergias', width: '10%' },

                                { text: 'Nombre mama', align: 'center', datafield: 'nombre_mama', width: '20%' },
                                { text: 'Apepat mama', align: 'center', datafield: 'apepat_mama', width: '20%' },
                                { text: 'Apemat mama', align: 'center', datafield: 'apemat_mama', width: '20%' },
                                { text: 'Telf. Fijo mama', align: 'center', datafield: 'tel_fijo_mama', width: '20%' },
                                { text: 'Celular mama', align: 'center', datafield: 'tel_cel_mama', width: '20%' },
                                { text: 'Email mama', align: 'center', datafield: 'email_mama', width: '20%' },

                                { text: 'Nombre papa', align: 'center', datafield: 'nombre_papa', width: '20%' },
                                { text: 'Apepat papa', align: 'center', datafield: 'apepat_papa', width: '20%' },
                                { text: 'Apemat papa', align: 'center', datafield: 'apemat_papa', width: '20%' },
                                { text: 'Telf. Fijo papa', align: 'center', datafield: 'tel_fijo_papa', width: '20%' },
                                { text: 'Celular papa', align: 'center', datafield: 'tel_cel_papa', width: '20%' },
                                { text: 'Email papa', align: 'center', datafield: 'email_papa', width: '20%' },

                                { text: 'Tipo Alumno', align: 'center', datafield: 'tipo_alumno', width: '12%' },

                                { text: 'Observaciones', align: 'center', datafield: 'observaciones', width: '20%' }
                            ]
                        }
                    )
                );
                var contextMenu = $("#Menu").jqxMenu({
                    theme: theme3,
                    width: 150,
                    height: 58,
                    autoOpenPopup: false,
                    mode: 'popup'
                });
                $("#grid").on('contextmenu', function () {
                    return false;
                });

                $("#Menu").on('itemclick', function (event) {
                    var args = event.args;
                    var rowindex = $("#grid").jqxGrid('getselectedrowindex');
                    var dataRecord = $("#grid").jqxGrid('getrowdata', rowindex);

                    if ( $.trim($(args).text()) == "Ver Ficha" ) {
                        editrow = rowindex;
                        var dataRecord = $("#grid").jqxGrid('getrowdata', editrow);
                        //$("#firstName").val(dataRecord.firstname);

                        // show the popup window.
                        $("#myModalFicha").modal('show');
                    } else if( $.trim($(args).text()) == "Eliminar" ) {
                        if(confirm("Esta seguro de eliminar el registro?")) {
                            var rowid = $("#grid").jqxGrid('getrowid', rowindex);
                            var datos = {
                                id: dataRecord.id_alumno,
                                tabla: 'gim_alumnos'
                            };
                            $.ajax({
                                type: "POST",
                                url: '/EG/eliminarRegistroTabla/',
                                data: datos,
                                dataType: 'json',
                                success: function (result) {
                                    //console.log(result);
                                    if (result.status == "success") {
                                        //alert("Proceso realizado correctamente");
                                        $("#grid").jqxGrid('deleterow', rowid);
                                        return false;
                                    } else {
                                        alert("Error: Vuelva a intentarlo");
                                        return false;
                                    }
                                }, error: function (xhr, ajaxOptions, thrownError) {
                                    alert("ERROR: " + xhr.responseText + " - " + thrownError);
                                }
                            });
                        }
                    } else if( $.trim($(args).text()) == "Ver detalle" ){

                    }
                });
                $("#grid").on('rowclick', function (event) {
                    if (event.args.rightclick) {
                        $("#grid").jqxGrid('selectrow', event.args.rowindex);
                        var scrollTop = $(window).scrollTop();
                        var scrollLeft = $(window).scrollLeft();
                        contextMenu.jqxMenu('open', parseInt(event.args.originalEvent.clientX) + 5 + scrollLeft, parseInt(event.args.originalEvent.clientY) + 5 + scrollTop);
                        return false;
                    }
                });
                $('#grid').on('rowdoubleclick', function (event)
                {
                    var args = event.args;
                    // row's bound index.
                    var boundIndex = args.rowindex;
                    var data = $('#grid').jqxGrid('getrowdata', boundIndex);
                    $("#id").val(data.id_alumno);
                    $("#tutor").jqxDropDownList('selectItem', data.id_tutor);
                    $("#tipoDocumento").jqxDropDownList('selectItem', data.id_tipo_doc);
                    $("#nroDocumento").val(data.numdoc);
                    $("#apellidoPaterno").val(data.apepat);
                    $("#apellidoMaterno").val(data.apemat);
                    $("#nombres").val(data.nombres);
                    var f = fn_DMY_to_Array(data.fecha_nac);
                    $('#fechaNacimiento').jqxDateTimeInput({ value: new Date(f.ANIO, f.MES - 1, f.DIA) });
                    $("#sexo").jqxDropDownList('selectItem', data.sexo);

                    setTimeout(function() {
                        $("#departamento").jqxDropDownList('selectItem', data.departamento);
                    }, 500);

                    setTimeout(function(){
                        $("#provincia").jqxDropDownList('selectItem', data.provincia);
                    }, 1000);

                    setTimeout(function(){
                        $("#distrito").jqxDropDownList('selectItem', data.distrito);
                        $("#provincia").jqxDropDownList("close");
                        $("#distrito").jqxDropDownList("close");
                    }, 1500);

                    $("#direccion").val(data.direccion);
                    $("#ciaSeg").jqxDropDownList('selectItem', data.id_cia_seguro);

                    $("#enfermedades").val(data.enfermedades);
                    $("#alergias").val(data.alergias);

                    $("#apepatMama").val(data.nombre_mama);
                    $("#apematMama").val(data.apepat_mama);
                    $("#nombresMama").val(data.apemat_mama);
                    $("#telefonoFijoMama").val(data.tel_fijo_mama);
                    $("#CelularMama").val(data.tel_cel_mama);
                    $("#emailMama").val(data.email_mama);

                    $("#apepatPapa").val(data.nombre_papa);
                    $("#apematPapa").val(data.apepat_papa);
                    $("#nombresPapa").val(data.apemat_papa);
                    $("#telefonoFijoPapa").val(data.tel_fijo_papa);
                    $("#CelularPapa").val(data.tel_cel_papa);
                    $("#emailPapa").val(data.email_papa);
                    $("#tipoAlumno").jqxDropDownList('selectItem', data.id_tipo_alumno);
                    $("#obs").val(data.observaciones);

                    $("#btnSave").text("Actualizar");
                    $('#myModal').modal('show');
                });


                var arrayProv = [], arrayDist = [];
                $.when(
                    $.ajax("/listaTipoDoc"),
                    $.ajax("/listaTutoresSimple"),
                    $.ajax("/listaCiaSeguro"),
                    $.ajax("/listaDepartamentos"),
                    $.ajax("/listaProvincias"),
                    $.ajax("/listaDistritos"),
                    $.ajax("/listaSexo"),
                    $.ajax("/listaTipoAlumno")
                ).done(function( json1, json2, json3, json4, json5, json6, json7, json8 ) {
                    //console.log(json1[0].registros[0]);
                    if(json1[0].status == "success"){
                        $("#tipoDocumento").jqxDropDownList({
                            source: json1[0].registros[0],
                            displayMember: "descripcion",
                            valueMember: "id_tipo_documento",
                            autoDropDownHeight: true
                        });
                    }else{
                        alert("Error: al cargar los tipo de documentos");
                        return false;
                    }

                    if(json2[0].status == "success"){
                        //console.log(json2[0].registros);
                        $("#tutor").jqxDropDownList({
                            source: json2[0].registros,
                            displayMember: "descripcion",
                            valueMember: "id_tutor",
                            dropDownHeight: 250
                        });
                    }else{
                        alert("Error: al cargar tutores");
                        return false;
                    }

                    if(json3[0].status == "success"){
                        $("#ciaSeg").jqxDropDownList({
                            source: json3[0].registros[0],
                            displayMember: "descripcion",
                            valueMember: "id_seguro_medico",
                            dropDownWidth: 150,
                            autoDropDownHeight: true
                        });
                    }else{
                        alert("Error: al cargar cia seguros");
                        return false;
                    }

                    if(json4[0].status == "success"){
                        $("#departamento").jqxDropDownList({
                            source: json4[0].registros,
                            displayMember: "descripcion",
                            valueMember: "ccod_dpto",
                            dropDownHeight: 250
                        });
                    }else{
                        alert("Error: al cargar departamentos");
                        return false;
                    }

                    if(json5[0].status == "success"){
                        arrayProv.push(json5[0].registros);
                    }else{
                        alert("Error: al cargar provincias");
                        return false;
                    }

                    if(json6[0].status == "success"){
                        arrayDist.push(json6[0].registros);
                    }else{
                        alert("Error: al cargar provincias");
                        return false;
                    }

                    if(json7[0].status == "success"){
                        $("#sexo").jqxDropDownList({
                            source: json7[0].registros,
                            displayMember: "descripcion",
                            valueMember: "id_sexo",
                            autoDropDownHeight: true
                        });
                    }else{
                        alert("Error: al cargar datos de sexo");
                        return false;
                    }

                    //console.log(json8[0].registros[0]);
                    if(json8[0].status == "success"){
                        $("#tipoAlumno").jqxDropDownList({
                            source: json8[0].registros[0],
                            displayMember: "descripcion",
                            valueMember: "id",
                            autoDropDownHeight: true
                        });
                    }else{
                        alert("Error: al cargar datos de tipo de alumno");
                        return false;
                    }

                });

                $("#btnSave").click(function() {
                    var datos = {
                        id: $("#id").val(),
                        idTutor: $("#tutor").val(),
                        tipoDoc: $("#tipoDocumento").val(),
                        nroDocumento: $("#nroDocumento").val(),
                        nombres: $("#nombres").val(),
                        apepat: $("#apellidoPaterno").val(),
                        apemat: $("#apellidoMaterno").val(),
                        fechaNac: fn_convertFecha_DMY_to_SQL($("#fechaNacimiento").val()),
                        sexo: $("#sexo").val(),
                        dpto: $("#departamento").val(),
                        prov: $("#provincia").val(),
                        dist: $("#distrito").val(),
                        direccion: $("#direccion").val(),
                        esSalud: $("#esSalud").val(),
                        ciaSeguro: $("#ciaSeg").val(),
                        enfermedades: $("#enfermedades").val(),
                        alergias: $("#alergias").val(),

                        apepatMama: $("#apepatMama").val(),
                        apematMama: $("#apematMama").val(),
                        nombresMama: $("#nombresMama").val(),
                        telefonoFijoMama: $("#telefonoFijoMama").val(),
                        CelularMama: $("#CelularMama").val(),
                        emailMama: $("#emailMama").val(),

                        apepatPapa: $("#apepatPapa").val(),
                        apematPapa: $("#apematPapa").val(),
                        nombresPapa: $("#nombresPapa").val(),
                        telefonoFijoPapa: $("#telefonoFijoPapa").val(),
                        CelularPapa: $("#CelularPapa").val(),
                        emailPapa: $("#emailPapa").val(),
                        tipoAlumno: $("#tipoAlumno").val(),

                        obs: $("#obs").val()
                    };
                    //console.log(datos);

                    var txtMsg = "", url = "";
                    if($("#id").val() != ""){
                        url = "/EG/updAlumnos";
                        txtMsg = "actualizar";
                    }else{
                        url = "/EG/SaveAlumnos";
                        txtMsg = "registrar";
                    }
                    if(!fn_validarAlumno(datos)){
                        return false;
                    };
                    if(confirm("Esta seguro de "+txtMsg+" los datos ?")){
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: datos,
                            dataType: 'json',
                            success: function(result){
                                //console.log(result);
                                if(result.status == "success") {
                                    alert("Proceso realizado correctamente");
                                    location.reload();
                                    return false;
                                }else{
                                    alert("Error: Vuelva a intentarlo");
                                    return false;
                                }
                            },error: function (xhr, ajaxOptions, thrownError) {
                                alert("ERROR: " + xhr.responseText+" - "+thrownError);
                            }
                        });
                    }
                });

            });
        </script>
    </body>
</html>