<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Escuela de Gimnasia</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="stylesheets/logo-nav.css" rel="stylesheet">

</head>
    <body>
        <% include menu %>

        <div class="row-fluid">
            <div class="col-md-12">
                <img src="images/LOGO-INDEX.png" style="margin-left: 39% !important; margin-top: 15% !important;">
            </div>
        </div>

        <script type="text/javascript" src="javascripts/scripts.js"></script>
    </body>
</html>