<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Escuela de Gimnasia</title>
    <script type="text/javascript" src="javascripts/scripts.js"></script>

</head>
<body>
    <% include menu %>

    <div id="myModal" class="modal modal-wide2 modal-high2 fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">PARAMETROS</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 nopadding">

                            <div class="form-group row">
                                <label for="nroDocumento" class="col-md-3 col-form-label col-form-label-sm">Ruc</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control form-control-sm" id="nroDocumento">
                                    <input type="hidden" class="form-control form-control-sm" id="id">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="descripcion" class="col-md-3 col-form-label col-form-label-sm">Razon Social</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control form-control-sm" id="descripcion">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="departamento" class="col-md-3 col-form-label col-form-label-sm">Departamento</label>
                                <div class="col-md-3">
                                    <div id="departamento"></div>
                                </div>

                                <label for="provincia" class="col-md-3 col-form-label col-form-label-sm">Provincia</label>
                                <div class="col-md-3">
                                    <div id="provincia"></div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="distrito" class="col-md-3 col-form-label col-form-label-sm">Distrito</label>
                                <div class="col-md-3">
                                    <div id="distrito"></div>
                                </div>

                                <label for="telefono" class="col-md-3 col-form-label col-form-label-sm">Telefono</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control form-control-sm text-align-right" id="telefono">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="direccion" class="col-md-3 col-form-label col-form-label-sm">Direccion</label>
                                <div class="col-md-9">
                                    <textarea id="direccion" class="form-control form-control-sm" style="width: 100%; resize: none;" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="paginaWeb" class="col-md-3 col-form-label col-form-label-sm">Pagina Web</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control form-control-sm text-align-left" id="paginaWeb">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="facebook" class="col-md-3 col-form-label col-form-label-sm">Facebook</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control form-control-sm text-align-left" id="facebook">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="autorizacionSunat" class="col-md-3 col-form-label col-form-label-sm">Aut. SUNAT</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control form-control-sm text-align-right" id="autorizacionSunat">
                                </div>

                                <label for="nroMaquina" class="col-md-3 col-form-label col-form-label-sm">Maq. Reg. Nro.</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control form-control-sm text-align-right" id="nroMaquina">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="impuesto" class="col-md-3 col-form-label col-form-label-sm">Impuesto</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control form-control-sm text-align-right" id="impuesto">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="serieTicket" class="col-md-3 col-form-label col-form-label-sm">Serie Ticket</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control form-control-sm text-align-right" id="serieTicket">
                                </div>

                                <label for="nroTicket" class="col-md-3 col-form-label col-form-label-sm">Nro. Ticket</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control form-control-sm text-align-right" id="nroTicket">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="serieBoleta" class="col-md-3 col-form-label col-form-label-sm">Serie Boleta</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control form-control-sm text-align-right" id="serieBoleta">
                                </div>

                                <label for="nroBoleta" class="col-md-3 col-form-label col-form-label-sm">Nro. Boleta</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control form-control-sm text-align-right" id="nroBoleta">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="serieFactura" class="col-md-3 col-form-label col-form-label-sm">Serie Factura</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control form-control-sm text-align-right" id="serieFactura">
                                </div>

                                <label for="nroFactura" class="col-md-3 col-form-label col-form-label-sm">Nro. Factura</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control form-control-sm text-align-right" id="nroFactura">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="serieRegistro" class="col-md-3 col-form-label col-form-label-sm">Serie Registro</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control form-control-sm text-align-right" id="serieRegistro">
                                </div>

                                <label for="nroRegistro" class="col-md-3 col-form-label col-form-label-sm">Nro. Registro</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control form-control-sm text-align-right" id="nroRegistro">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSave">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <div id='Menu'>
        <ul>
            <li>Editar</li>
            <li>Eliminar</li>
        </ul>
    </div>

    <div class="row fill-height-91">
        <div class="col-md-12 fill-height-91">
            <div id="jqxToolBar"></div>
            <div id="grid"></div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#jqxToolBar").jqxToolBar(
                $.extend( {},
                    vDefaultOptionsToolBar,
                    {
                        tools: 'custom | custom | custom',
                        initTools: function (type, index, tool, menuToolIninitialization) {
                            switch (index) {
                                case 0:
                                    var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'><b>PARAMETROS &nbsp;&nbsp; </b></div>";
                                    tool.append(label);
                                    break;
                                case 1:
                                    var addBtn = $("<div style='float: left; margin-left: 2px; position: relative; margin-top: -2px; cursor: pointer;'><img style='position: relative; margin-top: 0px; margin-left: 3px;' src='images/add.png'/><span style='margin-left: 4px; position: relative;'></span></div>").jqxButton({
                                        theme: theme2,
                                        width: 30,
                                        height: 19
                                    });
                                    tool.append(addBtn);
                                    addBtn.click(function (event) {
                                        $("#id").val("");
                                        fn_clearText();

                                        var arregloInputDropDownList = ['departamento', 'provincia', 'distrito'];
                                        fn_clearDropDownList(arregloInputDropDownList);

                                        $("#departamento").jqxDropDownList('selectItem', '15' );
                                        setTimeout(function(){
                                            $("#provincia").jqxDropDownList('selectItem', '01' );
                                        }, 1000);

                                        $("#btnSave").text("Guardar");
                                        $('#myModal').modal('show');
                                    });
                                    break;
                                case 2:
                                    var exportBtn = $("<div style='float: left; margin-left: 2px; position: relative; margin-top: -2px; cursor: pointer;'><img style='position: relative; margin-top: 0px; margin-left: 3px;' src='images/icon_excel_02_20.png'/><span style='margin-left: 4px; position: relative;'></span></div>").jqxButton({
                                        theme: theme2,
                                        width: 30,
                                        height: 19
                                    });
                                    tool.append(exportBtn);
                                    exportBtn.click(function (event) {
                                        var JSONData = $("#grid").jqxGrid('exportdata', 'json');
                                        fn_JSONToCSVConvertor(JSONData, "ReporteTutores", "", true);
                                    });
                                    break;
                            }
                        }
                    }
                )
            )

            $("#departamento").jqxDropDownList(
                $.extend(
                    {}, vDefaultOptionsDropDownList, {
                        width: '100%',
                        dropDownWidth: 250,
                        dropDownHorizontalAlignment: 'right'
                    }
                )
            );
            $('#departamento').on('change', function (event)
            {
                var args = event.args;
                if (args) {
                    // index represents the item's index.
                    var index = args.index;
                    var item = args.item;
                    // get item's label and value.
                    var label = item.label;
                    var value = item.value;

                    //console.log(arrayProv[0]);
                    var queryResult = Enumerable.From(arrayProv[0])
                        .Where("$.ccod_dpto == '"+value+"'")
                        .Select()
                        .ToArray();

                    var height = false;
                    if(queryResult.length >= 10){
                        height = false;
                    }else{
                        height = true;
                    }
                    $("#provincia").jqxDropDownList({
                        source: queryResult,
                        displayMember: "descripcion",
                        valueMember: "ccod_prov",
                        dropDownWidth: 250,
                        dropDownHeight: 250,
                        autoDropDownHeight: height
                    });
                }
            });

            $("#provincia").jqxDropDownList(
                $.extend(
                    {}, vDefaultOptionsDropDownList, {
                        width: '100%'
                    }
                )
            );
            $('#provincia').on('change', function (event)
            {
                var args = event.args;
                if (args) {
                    // index represents the item's index.
                    var index = args.index;
                    var item = args.item;
                    // get item's label and value.
                    var label = item.label;
                    var value = item.value;

                    //console.log(arrayDist[0]);
                    var queryResult = Enumerable.From(arrayDist[0])
                        .Where("$.ccod_dpto == '"+$("#departamento").val()+"' && $.ccod_prov == '"+value+"'")
                        .Select()
                        .ToArray();

                    var height = false;
                    if(queryResult.length >= 10){
                        height = false;
                    }else{
                        height = true;
                    }
                    $("#distrito").jqxDropDownList({
                        source: queryResult,
                        displayMember: "descripcion",
                        valueMember: "ccod_dist",
                        dropDownWidth: 250,
                        dropDownHeight: 250,
                        filterable: true,
                        searchMode: 'containsignorecase',
                        autoDropDownHeight: height
                    });
                }
            });

            $("#distrito").jqxDropDownList(
                $.extend(
                    {}, vDefaultOptionsDropDownList, {
                        width: '100%'
                    }
                )
            );

            var arrayProv = [], arrayDist = [];
            $.when(
                $.ajax("/listaDepartamentos"),
                $.ajax("/listaProvincias"),
                $.ajax("/listaDistritos")
            ).done(function(json4, json5, json6 ) {
                //console.log(json1[0].registros[0]);
                if(json4[0].status == "success"){
                    $("#departamento").jqxDropDownList({
                        source: json4[0].registros,
                        displayMember: "descripcion",
                        valueMember: "ccod_dpto",
                        dropDownHeight: 250
                    });
                }else{
                    alert("Error: al cargar departamentos");
                    return false;
                }

                if(json5[0].status == "success"){
                    arrayProv.push(json5[0].registros);
                }else{
                    alert("Error: al cargar provincias");
                    return false;
                }

                if(json6[0].status == "success"){
                    arrayDist.push(json6[0].registros);
                }else{
                    alert("Error: al cargar provincias");
                    return false;
                }
            });


            $.getJSON('/listaParametros/', function(json) {
                //console.log(json.registros);
                var source =
                    {
                        datatype: "json",
                        datafields: [
                            { name: 'id_parametro', type: 'int'},
                            { name: 'numdoc', type: 'string'},
                            { name: 'descripcion', type: 'string'},

                            { name: 'departamento', type: 'string'},
                            { name: 'departamento_name', type: 'string'},
                            { name: 'provincia', type: 'string'},
                            { name: 'provincia_name', type: 'string'},
                            { name: 'distrito', type: 'string'},
                            { name: 'distrito_name', type: 'string'},
                            { name: 'direccion', type: 'string'},
                            { name: 'telefono', type: 'string'},
                            { name: 'pagina_web', type: 'string'},
                            { name: 'facebook', type: 'string'},
                            { name: 'autorizacion_sunat', type: 'string'},
                            { name: 'nro_maquina', type: 'string'},

                            { name: 'impuesto', type: 'float'},
                            { name: 'nro_serie_ticket', type: 'string'},
                            { name: 'nro_ticket', type: 'int'},
                            { name: 'nro_serie_boleta', type: 'string'},
                            { name: 'nro_boleta', type: 'int'},
                            { name: 'nro_serie_factura', type: 'string'},
                            { name: 'nro_factura', type: 'int'},
                            { name: 'nro_serie_registro', type: 'string'},
                            { name: 'nro_registro', type: 'int'},
                            { name: 'estado', type: 'string'}
                        ],
                        localdata: json.registros
                    };
                var dataAdapter = new $.jqx.dataAdapter(source);

                $("#grid").jqxGrid(
                {
                    source: dataAdapter
                });
                setTimeout(function(){
                    $('#grid').jqxGrid('autoresizecolumns');
                }, 500);
            });

            $("#grid").jqxGrid(
                $.extend(
                    {}, vDefaultOptionsGrid,
                    {
                        groupable: false,
                        selectionmode: 'singlerow',
                        columns: [
                            { text: 'Ruc', align: 'center', datafield: 'numdoc', cellsalign: 'right', width: '8%' },
                            { text: 'Razon Social', align: 'center', datafield: 'descripcion', cellsalign: 'left', width: '30%' },

                            { text: 'Departamento', align: 'center', datafield: 'departamento_name', cellsalign: 'left', width: '10%' },
                            { text: 'Provincia', align: 'center', datafield: 'provincia_name', cellsalign: 'left', width: '10%' },
                            { text: 'Distrito', align: 'center', datafield: 'distrito_name', cellsalign: 'left', width: '10%' },
                            { text: 'Direccion', align: 'center', datafield: 'direccion', cellsalign: 'left', width: '15%' },
                            { text: 'Telefono', align: 'center', datafield: 'telefono', cellsalign: 'left', width: '10%' },
                            { text: 'Pagina Web', align: 'center', datafield: 'pagina_web', cellsalign: 'left', width: '15%' },
                            { text: 'Facebook', align: 'center', datafield: 'facebook', cellsalign: 'left', width: '15%' },
                            { text: 'Autorizacion Sunat', align: 'center', datafield: 'autorizacion_sunat', cellsalign: 'left', width: '15%' },
                            { text: 'Nro. Maquina', align: 'center', datafield: 'nro_maquina', cellsalign: 'left', width: '15%' },

                            { text: 'Impuesto', align: 'center', datafield: 'impuesto', cellsalign: 'right', width: '8%' },
                            { text: 'Serie Ticket', align: 'center', datafield: 'nro_serie_ticket', cellsalign: 'right', width: '8%' },
                            { text: 'Nro. Ticket', align: 'center', datafield: 'nro_ticket', cellsalign: 'right', width: '8%' },
                            { text: 'Serie Boleta', align: 'center', datafield: 'nro_serie_boleta', cellsalign: 'right', width: '8%'},
                            { text: 'Nro. Boleta', align: 'center', datafield: 'nro_boleta', cellsalign: 'right', width: '8%' },
                            { text: 'Serie Factura', align: 'center', datafield: 'nro_serie_factura', cellsalign: 'right', width: '8%' },
                            { text: 'Nro. Factura', align: 'center', datafield: 'nro_factura', cellsalign: 'right', width: '8%' },

                            { text: 'Serie Registro', align: 'center', datafield: 'nro_serie_registro', cellsalign: 'right', width: '8%' },
                            { text: 'Nro. Registro', align: 'center', datafield: 'nro_registro', cellsalign: 'right', width: '8%' }
                        ]
                    }
                )
            );
            var contextMenu = $("#Menu").jqxMenu({ theme: theme3, width: 200, height: 58, autoOpenPopup: false, mode: 'popup'});
            $("#grid").on('contextmenu', function () {
                return false;
            });

            $("#Menu").on('itemclick', function (event) {
                var args = event.args;
                var rowindex = $("#grid").jqxGrid('getselectedrowindex');

                if ( $.trim($(args).text()) == "Editar" ) {
                    editrow = rowindex;
                    var offset = $("#jqxgrid").offset();
                    $("#popupWindow").jqxWindow({ position: { x: parseInt(offset.left) + 60, y: parseInt(offset.top) + 60} });
                    // get the clicked row's data and initialize the input fields.
                    var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
                    $("#firstName").val(dataRecord.firstname);
                    // show the popup window.
                    $("#popupWindow").jqxWindow('show');
                } else if( $.trim($(args).text()) == "Eliminar" ) {
                    var rowid = $("#jqxgrid").jqxGrid('getrowid', rowindex);
                    $("#jqxgrid").jqxGrid('deleterow', rowid);

                }
            });
            $("#grid").on('rowclick', function (event) {
                if (event.args.rightclick) {
                    $("#grid").jqxGrid('selectrow', event.args.rowindex);
                    var scrollTop = $(window).scrollTop();
                    var scrollLeft = $(window).scrollLeft();
                    contextMenu.jqxMenu('open', parseInt(event.args.originalEvent.clientX) + 5 + scrollLeft, parseInt(event.args.originalEvent.clientY) + 5 + scrollTop);
                    return false;
                }
            });
            $('#grid').on('rowdoubleclick', function (event)
            {
                var args = event.args;
                // row's bound index.
                var boundIndex = args.rowindex;
                var data = $('#grid').jqxGrid('getrowdata', boundIndex);
                console.log(data);
                $("#id").val(data.id_parametro);
                $("#nroDocumento").val(data.numdoc);
                $("#descripcion").val(data.descripcion);

                setTimeout(function() {
                    $("#departamento").jqxDropDownList('selectItem', data.departamento);
                    //console.log(data.departamento);
                }, 500);

                setTimeout(function(){
                    $("#provincia").jqxDropDownList('selectItem', data.provincia);
                }, 1000);

                setTimeout(function(){
                    $("#distrito").jqxDropDownList('selectItem', data.distrito);
                    $("#provincia").jqxDropDownList("close");
                    $("#distrito").jqxDropDownList("close");
                }, 1500);

                //$("#departamento").val(data.departamento);
                //$("#provincia").val(data.provincia);
                //$("#distrito").val(data.distrito);
                $("#direccion").val(data.direccion);

                $("#telefono").val(data.telefono);
                $("#paginaWeb").val(data.pagina_web);
                $("#facebook").val(data.facebook);
                $("#autorizacionSunat").val(data.autorizacion_sunat);
                $("#nroMaquina").val(data.nro_maquina);

                $("#impuesto").val(data.impuesto);
                $("#serieTicket").val(data.nro_serie_ticket);
                $("#nroTicket").val(data.nro_ticket);
                $("#serieBoleta").val(data.nro_serie_boleta);
                $("#nroBoleta").val(data.nro_boleta);
                $("#serieFactura").val(data.nro_serie_factura);
                $("#nroFactura").val(data.nro_factura);

                $("#serieRegistro").val(data.nro_serie_registro);
                $("#nroRegistro").val(data.nro_registro);

                $("#btnSave").text("Actualizar");
                $('#myModal').modal('show');
            });


            $("#btnSave").click(function() {
                var datos = {
                    id: $("#id").val(),
                    nroDocumento: $("#nroDocumento").val(),
                    descripcion: $("#descripcion").val(),

                    departamento: $("#departamento").val(),
                    provincia: $("#provincia").val(),
                    distrito: $("#distrito").val(),
                    direccion: $("#direccion").val(),
                    telefono: $("#telefono").val(),
                    paginaWeb: $("#paginaWeb").val(),
                    facebook: $("#facebook").val(),
                    autorizacionSunat: $("#autorizacionSunat").val(),
                    nroMaquina: $("#nroMaquina").val(),

                    impuesto: $("#impuesto").val(),
                    serieTicket: $("#serieTicket").val(),
                    nroTicket: $("#nroTicket").val(),
                    serieBoleta: $("#serieBoleta").val(),
                    nroBoleta: $("#nroBoleta").val(),
                    serieFactura: $("#serieFactura").val(),
                    nroFactura: $("#nroFactura").val(),

                    serieRegistro: $("#serieRegistro").val(),
                    nroRegistro: $("#nroRegistro").val()
                };
                //console.log(datos);
                //return false;
                var txtMsg = "", url = "";
                if($("#id").val() != ""){
                    url = "/EG/updParametros";
                    txtMsg = "actualizar";
                }else{
                    url = "/EG/saveParametros";
                    txtMsg = "registrar";
                }

                if(confirm("Esta seguro de "+txtMsg+" los datos ?")){
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: datos,
                        dataType: 'json',
                        success: function(result){
                            //console.log(result);
                            if(result.status == "success") {
                                alert("Proceso realizado correctamente");
                                location.reload();
                                return false;
                            }else{
                                alert("Error: Vuelva a intentarlo");
                                return false;
                            }
                        },error: function (xhr, ajaxOptions, thrownError) {
                            alert("ERROR: " + xhr.responseText+" - "+thrownError);
                        }
                    });
                }
            });


        });
    </script>
</body>
</html>