<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Escuela de Gimnasia</title>
    <script type="text/javascript" src="javascripts/scripts.js"></script>
    <style type="text/css">
        .table-borderless > tbody > tr > td,
        .table-borderless > tbody > tr > th,
        .table-borderless > tfoot > tr > td,
        .table-borderless > tfoot > tr > th,
        .table-borderless > thead > tr > td,
        .table-borderless > thead > tr > th {
            border: none !important;
        }

        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            padding: 1px !important;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }

        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            border-top: 0px !important;
        }

        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            padding: 3px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }

        @media print {
            border-top: 0px !important;
            .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
                padding: 3px !important;
                line-height: 1.42857143;
                vertical-align: top;
                border-top: 1px solid #ddd;
            }
        }
    </style>
</head>
<body>
    <% include menu %>

    <div id="myModalTicket" class="modal modal-wide-35 modal-high-ticket fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">EMISION DE TICKET</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 text-right" style="margin-top: -10px; margin-bottom: 5px;">
                            <button type="button" class="btn btn-primary" id="btnPrint">Print</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="viewTicket">

                                <p align="center" id="nombreEmpresa">CLUB ESCUELA DE GIMNASIA</p>
                                <p align="center" id="direccionEmpresa">AV. PETIT THOUARS NRO. 2685 LIMA - LIMA - LINCE</p>
                                <p align="center">RUC: <span id="rucEmpresa">20601497795</span></p>
                                <p align="center">Telefono: <span id="telefonoEmpresa">(01) 4225261</span></p>
                                <p align="center" id="paginaWeb">www.gimnasia.pe</p>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <table width="100%" class="table table-sm borderless" border="0" style="font-size: 12px;">
                                            <tr>
                                                <td width="49%" align="right" style="margin-bottom: 3px;">Aut. SUNAT</td>
                                                <td width="2%" align="center">:</td>
                                                <td width="49%" id="autorizacionSunat">0023845108800</td>
                                            </tr>
                                            <tr>
                                                <td width="49%" align="right" style="border: none;">Maq Regist Nro</td>
                                                <td width="2%" align="center" style="border: none;">:</td>
                                                <td width="49%" id="nroMaquina" style="border: none;">FFCF268000</td>
                                            </tr>
                                            <tr style="border: none;">
                                                <td width="49%" align="right" style="border: none;">Ticket Boleta</td>
                                                <td width="2%" align="center" style="border: none;">:</td>
                                                <td width="49%" style="border: none;"><span id="nroTicket"></span></td>
                                            </tr>
                                            <tr>
                                                <td width="49%" align="right" style="border: none;">FECHA EMISION</td>
                                                <td width="2%" align="center" style="border: none;">:</td>
                                                <td width="49%" style="border: none;"><span id="fechaEmision"></span></td>
                                            </tr>
                                            <tr>
                                                <td width="49%" align="right" style="border: none;">DNI/RUC</td>
                                                <td width="2%" align="center" style="border: none;">:</td>
                                                <td width="49%" style="border: none;"><span id="idCliente"></span></td>
                                            </tr>
                                            <tr>
                                                <td width="49%" align="right" style="border: none;">CLIENTE</td>
                                                <td width="2%" align="center" style="border: none;">:</td>
                                                <td width="49%" style="border: none;"><span id="cliente"></span></td>
                                            </tr>
                                            <tr>
                                                <td width="49%" align="right" style="border: none;">TIPO DE PAGO</td>
                                                <td width="2%" align="center" style="border: none;">:</td>
                                                <td width="49%" style="border: none;"><span id="tipoPago"></span></td>
                                            </tr>
                                            <tr>
                                                <td width="49%" align="left" style="border: none;"><span style="margin-left: 25px;">DETALLE : </span></td>
                                                <td width="2%" align="center" style="border: none;"></td>
                                                <td width="49%" style="border: none;"></td>
                                            </tr>
                                            <tr>
                                                <td width="100%" style="border: none;" colspan="3">
                                                    <div id="detalle" style="margin-left: 25px;"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="49%" align="right"><B>TOTAL</B></td>
                                                <td width="2%" align="center"><B>:</B></td>
                                                <td width="49%"><b><span id="totalTicket"></span></b></td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>

                                <!--<div class="form-group row">
                                    <label for="autorizacion" class="col-sm-6 col-form-label col-form-label-sm">
                                        <p align="right">Autorizacion SUNAT Nro:</p>
                                    </label>
                                    <div class="col-sm-6" style="margin-left: -15px;">
                                        <span id="autorizacion">0023845108800</span>
                                    </div>
                                </div>

                                <div class="form-group row" style="margin-top: -15px;">
                                    <label for="maquina" class="col-sm-6 col-form-label col-form-label-sm text-align-right">
                                        <p align="right">Maq Regist Nro:</p>
                                    </label>
                                    <div class="col-sm-6" style="margin-left: -15px;">
                                        <span id="maquina">FFCF268000</span>
                                    </div>
                                </div>

                                <div class="form-group row" style="margin-top: -15px;">
                                    <label for="nroTicket" class="col-xs-6 col-form-label col-form-label-sm text-align-right">
                                        <p align="right">Ticket Boleta:</p>
                                    </label>
                                    <div class="col-xs-6" style="margin-left: -15px;">
                                        <span id="nroTicket"></span>
                                    </div>
                                </div>

                                <div class="form-group row" style="margin-top: -15px;">
                                    <label for="nroTicket" class="col-xs-6 col-form-label col-form-label-sm text-align-right">
                                        <p align="right">FECHA EMISION:</p>
                                    </label>
                                    <div class="col-xs-6" style="margin-left: -15px;">
                                        <span id="nroTicket"></span>
                                    </div>
                                </div>

                                <div class="form-group row" style="margin-top: -15px;">
                                    <label for="nroDocumento" class="col-xs-6 col-form-label col-form-label-sm text-align-right">
                                        <p align="right">DNI / RUC:</p>
                                    </label>
                                    <div class="col-xs-6" style="margin-left: -15px;">
                                        <span id="nroDocumento"></span>
                                    </div>
                                </div>

                                <div class="form-group row" style="margin-top: -15px;">
                                    <label for="cliente" class="col-xs-6 col-form-label col-form-label-sm text-align-right">
                                        <p align="right">CLIENTE:</p>
                                    </label>
                                    <div class="col-xs-6" style="margin-left: -15px;">
                                        <span id="cliente"></span>
                                    </div>
                                </div>

                                <div class="form-group row" style="margin-top: -15px;">
                                    <label for="tipoPago" class="col-xs-6 col-form-label col-form-label-sm text-align-right">
                                        <p align="right">TIPO DE PAGO:</p>
                                    </label>
                                    <div class="col-xs-6" style="margin-left: -15px;">
                                        <span id="tipoPago"></span>
                                    </div>
                                </div>

                                <div class="form-group row" style="margin-top: -15px;">
                                    <label for="detalle" class="col-xs-6 col-form-label col-form-label-sm text-align-right">
                                        <p align="right">DETALLE:</p>
                                    </label>
                                    <div class="col-xs-6" style="margin-left: -15px; margin-right: -15px;">
                                        <div style="margin-bottom: 3px;">
                                            Cuota mes de: Abril 2017 (VANESSA DEL ROSARIO RAMIREZ CAMPOMARES)
                                            HORARIO: (10,11,12) Sabado, de 11:00 a 13:00
                                        </div>
                                        <div style="margin-bottom: 3px;">
                                            Cuota mes de: Mayo 2017 (VANESSA DEL ROSARIO RAMIREZ CAMPOMARES)
                                            HORARIO: (10,11,12) Sabado, de 11:00 a 13:00
                                        </div>
                                    </div>
                                </div>-->

                                <!--<div class="form-group row" style="margin-top: -15px;">
                                    <label class="col-xs-11 col-form-label col-form-label-sm labelBorder">

                                    </label>
                                </div>

                                <div class="form-group row" style="margin-top: -15px;">
                                    <label for="total" class="col-xs-7 col-form-label col-form-label-sm text-align-right">

                                    </label>
                                    <div class="col-xs-5">
                                        <span id="total" style="font-weight: bold; font-size: 12px;">TOTAL</span>
                                        <br>
                                        <span id="total" style="font-weight: bold; font-size: 12px;"></span>
                                    </div>
                                </div>

                                <div class="form-group row" style="margin-top: -15px;">
                                    <label class="col-xs-11 col-form-label col-form-label-sm text-align-right labelBorder">

                                    </label>
                                </div>-->

                                <div class="form-group row" style="margin-top: -15px;">
                                    <label class="col-xs-12 col-form-label col-form-label-sm">
                                        <p align="center" style="font-size: 13px; font-weight: normal;">Siguenos en Facebook</p>
                                        <p align="center" style="font-size: 13px; font-weight: normal;" id="facebook">facebook.com/escueladegimnasialima</p>
                                    </label>
                                </div>

                            </div>
                            <!--<iframe src="/ticket" style="height: 380px !important;"></iframe>-->
                        </div>

                    </div>
                </div>


                <div class="modal-footer" style="margin-top: -10px;">
                    <!--<button type="button" class="btn btn-primary" id="btnPrint">Print</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCerrar">Cerrar</button>-->
                </div>


            </div>
        </div>
    </div>


    <div id='Menu'>
        <ul>
            <li>Imprimir</li>
            <li>Eliminar</li>
            <!--<li>Ver detalle</li>-->
        </ul>
    </div>

    <div class="row fill-height-91">
        <div class="col-md-12 fill-height-91">
            <div id="jqxToolBar"></div>
            <div id="grid"></div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#jqxToolBar").jqxToolBar(
                $.extend( {},
                    vDefaultOptionsToolBar,
                    {
                        tools: 'custom | custom | custom | custom | custom | dropdownlist | custom | custom | custom', //| input | custom | custom | custom | custom
                        initTools: function (type, index, tool, menuToolIninitialization) {
                            switch (index) {
                                case 0:
                                    var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'><b>REGISTRO DE VENTAS &nbsp;&nbsp; </b></div>";
                                    tool.append(label);
                                    break;
                                case 1:
                                    var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'>Inicio: </div>";
                                    tool.append(label);
                                    break;
                                case 2:
                                    var fecha = $("<div id='FechaIni' style='margin-top: -2px;'></div>").jqxDateTimeInput({
                                        theme: theme2,
                                        value: new Date(anioActual, mesActual, 1),
                                        width: 105,
                                        height: 25,
                                        culture: 'es-ES'
                                    });
                                    tool.append(fecha);
                                    break;
                                case 3:
                                    var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'>Fin: </div>";
                                    tool.append(label);
                                    break;
                                case 4:
                                    var fecha = $("<div id='FechaFin' style='margin-top: -2px;'></div>").jqxDateTimeInput({
                                        theme: theme2,
                                        value: new Date(anioActual, mesActual, ultimoDiaMesActual),
                                        width: 105,
                                        height: 25,
                                        culture: 'es-ES'
                                    });
                                    tool.append(fecha);
                                    break;
                                case 5:
                                    var arregloEmpresas = [];
                                    $.when(
                                        $.ajax("/listaEmpresas")
                                    ).done(function(json5) {
                                        console.log(json5.status);
                                        console.log(json5.registros[0][0]);
                                        for(var x = 0; x<json5.registros.length; x++){
                                            arregloEmpresas.push(
                                                {
                                                    id_parametro: json5.registros[0][x].id_parametro,
                                                    numdoc: json5.registros[0][x].numdoc,
                                                    descripcion: json5.registros[0][x].descripcion,
                                                    impuesto: json5.registros[0][x].impuesto,
                                                    nro_serie_ticket: json5.registros[0][x].nro_serie_ticket,
                                                    nro_ticket: json5.registros[0][x].nro_ticket,
                                                    nro_serie_boleta: json5.registros[0][x].nro_serie_boleta,
                                                    nro_boleta: json5.registros[0][x].nro_boleta,
                                                    nro_serie_factura: json5.registros[0][x].nro_serie_factura,
                                                    nro_factura: json5.registros[0][x].nro_factura
                                                }
                                            );
                                        }
                                        if(json5.status == "success"){
                                            tool.jqxDropDownList({
                                                theme: theme2,
                                                selectedIndex: 0,
                                                source: arregloEmpresas,
                                                displayMember: "descripcion",
                                                valueMember: "numdoc",
                                                filterable: false,
                                                searchMode: 'containsignorecase',
                                                width: 200,
                                                height: 24,
                                                dropDownWidth: 380
                                            });
                                            tool.jqxDropDownList({
                                                selectedIndex: 0
                                            });
                                            tool.css("margin-top", "-5");
                                        }else{
                                            alert("Error: al cargar empresa");
                                            return false;
                                        }
                                    });
                                    break;
                                case 6:
                                    var searchBtn = $("<div style='float: left; margin-left: 2px; position: relative; margin-top: -2px; cursor: pointer;'><img style='position: relative; margin-top: 0px; margin-left: 3px;' src='images/search.png'/><span style='margin-left: 4px; position: relative;'></span></div>").jqxButton({
                                        theme: theme2,
                                        width: 30,
                                        height: 19
                                    });
                                    tool.append(searchBtn);
                                    searchBtn.click(function (event) {
                                        var tools = $("#jqxToolBar").jqxToolBar("getTools");
                                        var rucEmpresa =  tools[5].tool.val();
                                        //alert(rucEmpresa);
                                        //return false;
                                        var fechaInicio = fn_convertFecha_DMY_to_SQL($("#FechaIni").val());
                                        var fechaFin = fn_convertFecha_DMY_to_SQL($("#FechaFin").val());

                                        fn_reporteRegistroVentas(fechaInicio, fechaFin, rucEmpresa);
                                    });
                                    break;
                                case 7:
                                    var exportBtn = $("<div style='float: left; margin-left: 2px; position: relative; margin-top: -2px; cursor: pointer;'><img style='position: relative; margin-top: 0px; margin-left: 3px;' src='images/icon_excel_02_20.png'/><span style='margin-left: 4px; position: relative;'></span></div>").jqxButton({
                                        theme: theme2,
                                        width: 30,
                                        height: 19
                                    });
                                    tool.append(exportBtn);
                                    exportBtn.click(function (event) {
                                        var tools = $("#jqxToolBar").jqxToolBar("getTools");
                                        var JSONData = $("#grid").jqxGrid('exportdata', 'json');
                                        fn_JSONToCSVConvertor(JSONData, "RegistroVentas", "", true);
                                    });
                                    break;
                            }
                        }
                    }
                )
            )

            $("#grid").jqxGrid(
                $.extend(
                    {}, vDefaultOptionsGrid,
                    {
                        pageable: true,
                        selectionmode: 'singlerow',
                        columns: [
                            //{ text: 'Id', align: 'center', datafield: 'id', cellsalign: 'center', width: '10%' },
                            { text: 'Fecha', align: 'center', datafield: 'fecha_emision', cellsalign: 'center', width: '9%'},
                            { text: 'Ruc Empresa', align: 'center', datafield: 'ruc_empresa', cellsalign: 'center', width: '10%'},
                            { text: 'Empresa', align: 'center', datafield: 'empresa', cellsalign: 'left', width: '19%'},
                            { text: 'Tipo Comprobante', align: 'center', datafield: 'tipo_comprobante', cellsalign: 'center', width: '12%' },
                            { text: 'Nro. Serie', align: 'center', datafield: 'nro_serie', cellsalign: 'right', width: '7%' },
                            { text: 'Nro. Correlativo', align: 'center', datafield: 'nro_correlativo', cellsalign: 'right', width: '10%' },
                            { text: 'Tipo Documento', align: 'center', datafield: 'tipo_documento', cellsalign: 'center', width: '10%' },
                            { text: 'Nro. documento', align: 'center', datafield: 'numdoc', cellsalign: 'right', width: '10%' },
                            { text: 'Nombres', align: 'center', datafield: 'cliente', width: '30%' },
                            { text: 'Importe', align: 'center', cellsalign: 'right', datafield: 'subtotal', width: '10%', cellsformat: 'd2' },
                            { text: 'Igv', align: 'center', cellsalign: 'right', datafield: 'igv', width: '10%', cellsformat: 'd2' },
                            { text: 'Total', align: 'center', cellsalign: 'right', datafield: 'total', width: '10%', cellsformat: 'd2' },
                            { text: 'Tipo Pago', align: 'center', cellsalign: 'left', datafield: 'forma_pago', width: '20%' }
                        ]
                    }
                )
            );
            var contextMenu = $("#Menu").jqxMenu({
                theme: theme3,
                width: 150,
                height: 58,
                autoOpenPopup: false,
                mode: 'popup'
            });
            $("#grid").on('contextmenu', function () {
                return false;
            });
            $("#Menu").on('itemclick', function (event) {
                var args = event.args;
                var rowindex = $("#grid").jqxGrid('getselectedrowindex');
                var dataRecord = $("#grid").jqxGrid('getrowdata', rowindex);

                if ( $.trim($(args).text()) == "Imprimir" ) {
                    editrow = rowindex;
                    var dataRecord = $("#grid").jqxGrid('getrowdata', editrow);
                    //$("#firstName").val(dataRecord.firstname);
                    //console.log(dataRecord);
                    // show the popup window.
                    fn_viewTicket(dataRecord.id_cobro);
                } else if( $.trim($(args).text()) == "Eliminar" ) {
                    if(confirm("Esta seguro de eliminar el registro?")) {
                        var rowid = $("#grid").jqxGrid('getrowid', rowindex);
                        var datos = {
                            id: dataRecord.id_cobro,
                            tabla: 'gim_cobro_cab'
                        };
                        //console.log(datos);
                        $.ajax({
                            type: "POST",
                            url: '/EG/eliminarRegistroTabla/',
                            data: datos,
                            dataType: 'json',
                            success: function (result) {
                                //console.log(result);
                                if (result.status == "success") {
                                    //alert("Proceso realizado correctamente");
                                    $("#grid").jqxGrid('deleterow', rowid);
                                    return false;
                                } else {
                                    alert("Error: Vuelva a intentarlo");
                                    return false;
                                }
                            }, error: function (xhr, ajaxOptions, thrownError) {
                                alert("ERROR: " + xhr.responseText + " - " + thrownError);
                            }
                        });
                    }
                }
            });
            $("#grid").on('rowclick', function (event) {
                if (event.args.rightclick) {
                    $("#grid").jqxGrid('selectrow', event.args.rowindex);
                    var scrollTop = $(window).scrollTop();
                    var scrollLeft = $(window).scrollLeft();
                    contextMenu.jqxMenu('open', parseInt(event.args.originalEvent.clientX) + 5 + scrollLeft, parseInt(event.args.originalEvent.clientY) + 5 + scrollTop);
                    return false;
                }
            });

            function fn_reporteRegistroVentas(fechaInicio, fechaFin, rucEmpresa){
                var url = '/reporteRegistroVentas/'+fechaInicio+"/"+fechaFin+"/"+rucEmpresa;
                //console.log(url);
                $.getJSON(url, function(json) {
                    //console.log(json);
                    var source =
                        {
                            datatype: "json",
                            datafields: [
                                { name: 'id_cobro', type: 'int'},
                                { name: 'fecha_emision', type: 'string'},
                                { name: 'ruc_empresa', type: 'string'},
                                { name: 'empresa', type: 'string'},
                                { name: 'id_tipo_comprobante', type: 'int'},
                                { name: 'tipo_comprobante', type: 'string'},
                                { name: 'nro_serie', type: 'string'},
                                { name: 'nro_correlativo', type: 'string'},
                                { name: 'tipo_documento', type: 'string'},
                                { name: 'numdoc', type: 'string'},
                                { name: 'cliente', type: 'string'},
                                { name: 'subtotal', type: 'float'},
                                { name: 'igv', type: 'float'},
                                { name: 'total', type: 'float'},
                                { name: 'forma_pago', type: 'float'}
                            ],
                            localdata: json.registros[0]
                        };
                    var dataAdapter = new $.jqx.dataAdapter(source);

                    $("#grid").jqxGrid(
                    {
                        source: dataAdapter
                    });
                });
            }

            $("#btnPrint").click(function() {
                $("#viewTicket").printThis();
            });

        });
    </script>
</body>
</html>