<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Escuela de Gimnasia</title>
    <script type="text/javascript" src="javascripts/scripts.js"></script>

</head>
<body>
<% include menu %>

<div class="row fill-height-91">
    <div class="col-md-12 fill-height-91">
        <div id="jqxToolBar"></div>
        <div id="grid"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var meses = [
            { id_mes: 1, mes: "Enero"},
            { id_mes: 2, mes: "Febrero"},
            { id_mes: 3, mes: "Marzo"},
            { id_mes: 4, mes: "Abril"},
            { id_mes: 5, mes: "Mayo"},
            { id_mes: 6, mes: "Junio"},
            { id_mes: 7, mes: "Julio"},
            { id_mes: 8, mes: "Agosto"},
            { id_mes: 9, mes: "Setiembre"},
            { id_mes: 10, mes: "Octubre"},
            { id_mes: 11, mes: "Noviembre"},
            { id_mes: 12, mes: "Diciembre"}
        ];
        var f = new Date();
        var anios = [];

        for(var x= f.getFullYear() + 1; x>= 2007;x--){
            anios.push(x);
        }


        var arregloEmpresas = [], arregloFormaPago = [];
        $.when(
            $.ajax("/listaEmpresas"),
            $.ajax("/listaFormaPago")
        ).done(function( json5, json6) {
            for(var x = 0; x<json5[0].registros[0].length; x++){
                arregloEmpresas.push(
                    {
                        id_parametro: json5[0].registros[0][x].id_parametro,
                        numdoc: json5[0].registros[0][x].numdoc,
                        alias: json5[0].registros[0][x].alias,
                        descripcion: json5[0].registros[0][x].descripcion
                    }
                );
            }
            //console.log(json6[0].registros[0]);
            for(var y = 0; y<json6[0].registros[0].length; y++){
                arregloFormaPago.push(
                    {
                        id_tipo_pago: json6[0].registros[0][y].id_tipo_pago,
                        descripcion: json6[0].registros[0][y].descripcion
                    }
                );
            }

            /*if(json5[0].status == "success"){
                $("#empresa").jqxDropDownList({
                    source: arregloEmpresas,
                    displayMember: "alias",
                    valueMember: "numdoc",
                    autoDropDownHeight: true
                });
            }else{
                alert("Error: al cargar empresa");
                return false;
            }*/
        });

        //console.log(arregloEmpresas);
        //console.log(arregloFormaPago);

        $("#jqxToolBar").jqxToolBar(
            $.extend( {},
                vDefaultOptionsToolBar,
                {
                    tools: 'custom | custom | custom | custom | custom | custom | custom | custom | custom | custom | custom ', //| input | custom | custom | custom | custom
                    initTools: function (type, index, tool, menuToolIninitialization) {
                        switch (index) {
                            case 0:
                                var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'><b>CIERRE DIARIO &nbsp;&nbsp; </b></div>";
                                tool.append(label);
                                break;
                            case 1:
                                var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'>F. Inicio: </div>";
                                tool.append(label);
                                break;
                            case 2:
                                var fecha = $("<div id='FechaIniOS' style='margin-top: -2px;'></div>").jqxDateTimeInput({
                                    theme: theme2,
                                    value: new Date(anioActual, mesActual, 1),
                                    width: 105,
                                    height: 25,
                                    culture: 'es-ES'
                                });
                                tool.append(fecha);
                                /*tool.jqxDropDownList(
                                    $.extend(
                                        {}, vDefaultOptionsDropDownList, {
                                            width: 80,
                                            source: meses,
                                            displayMember: "mes",
                                            valueMember: "id_mes",
                                            dropDownWidth: 150,
                                            dropDownHeight: 150
                                        }
                                    )
                                );*/
                                tool.jqxDropDownList('selectItem', mesActual + 1);
                                break;
                            case 3:
                                var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'>F. Fin: </div>";
                                tool.append(label);
                                break;
                            case 4:
                                var fecha = $("<div id='FechaFinOS' style='margin-top: -2px;'></div>").jqxDateTimeInput({
                                    theme: theme2,
                                    value: new Date(anioActual, mesActual, ultimoDiaMesActual),
                                    width: 105,
                                    height: 25,
                                    culture: 'es-ES'
                                });
                                tool.append(fecha);
                                /*tool.jqxDropDownList(
                                    $.extend(
                                        {}, vDefaultOptionsDropDownList, {
                                            width: 80,
                                            source: anios,
                                            dropDownHeight: 100
                                        }
                                    )
                                );
                                tool.jqxDropDownList('selectItem', anioActual);*/
                                break;
                            case 5:
                                var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'>Empresa: </div>";
                                tool.append(label);
                                break;
                            case 6:
                                $.when(
                                    $.ajax("/listaEmpresas")
                                ).done(function(json5) {
                                    //console.log(json5.registros[0]);
                                    tool.jqxDropDownList(
                                        $.extend(
                                            {}, vDefaultOptionsDropDownList, {
                                                width: 80,
                                                height: 25,
                                                source: json5.registros[0],
                                                displayMember: "alias",
                                                valueMember: "numdoc",
                                                dropDownWidth: 160,
                                                selectedIndex: 0,
                                                autoDropDownHeight: true
                                            }
                                        )
                                    );

                                });
                                break;
                            case 7:
                                var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'>Forma Pago: </div>";
                                tool.append(label);
                                break;
                            case 8:
                                $.when(
                                    $.ajax("/listaFormaPago")
                                ).done(function(json6) {
                                    tool.jqxDropDownList(
                                        $.extend(
                                            {}, vDefaultOptionsDropDownList, {
                                                width: 80,
                                                height: 25,
                                                source: json6.registros[0],
                                                displayMember: "descripcion",
                                                valueMember: "id_tipo_pago",
                                                selectedIndex: 0,
                                                autoDropDownHeight: true
                                            }
                                        )
                                    );
                                });
                                break;
                            case 9:
                                var searchBtn = $("<div style='float: left; margin-left: 2px; position: relative; margin-top: -2px; cursor: pointer;'><img style='position: relative; margin-top: 0px; margin-left: 3px;' src='images/search.png'/><span style='margin-left: 4px; position: relative;'></span></div>").jqxButton({
                                    theme: theme2,
                                    width: 30,
                                    height: 19
                                });
                                tool.append(searchBtn);
                                searchBtn.click(function (event) {
                                    var tools = $("#jqxToolBar").jqxToolBar("getTools");
                                    var datos = {
                                        fechaInicio: fn_convertFecha_DMY_to_SQL($("#FechaIniOS").val()),
                                        fechaFin: fn_convertFecha_DMY_to_SQL($("#FechaFinOS").val()),
                                        rucEmpresa: tools[6].tool.jqxDropDownList('val'),
                                        formaPago: tools[8].tool.text()
                                    };
                                    //console.log(datos);
                                    fn_reporteCierreDiario(datos);
                                });
                                break;
                            case 10:
                                var exportBtn = $("<div style='float: left; margin-left: 2px; position: relative; margin-top: -2px; cursor: pointer;'><img style='position: relative; margin-top: 0px; margin-left: 3px;' src='images/icon_excel_02_20.png'/><span style='margin-left: 4px; position: relative;'></span></div>").jqxButton({
                                    theme: theme2,
                                    width: 30,
                                    height: 19
                                });
                                tool.append(exportBtn);
                                exportBtn.click(function (event) {
                                    //var tools = $("#jqxToolBar").jqxToolBar("getTools");
                                    var JSONData = $("#grid").jqxGrid('exportdata', 'json');
                                    fn_JSONToCSVConvertor(JSONData, "RepCierreDiario", "", true);
                                });
                                break;
                        }
                    }
                }
            )
        )

        var arregloFormaPago = [
            {
                id: 1, descripcion: "EFECTIVO"
            },
            {
                id: 2, descripcion: "DEBITO"
            },
            {
                id: 3, descripcion: "CREDITO"
            }
        ];

        $("#grid").jqxGrid(
            $.extend(
                {}, vDefaultOptionsGrid,
                {
                    pageable: true,
                    editable: false,
                    pagermode: 'simple',
                    selectionmode: 'singlerow',
                    pagesize: 20,
                    columns: [
                        { text: 'id_matricula', align: 'center', datafield: 'id_matricula', cellsalign: 'center', width: '10%' },
                        { text: 'Fecha', align: 'center', datafield: 'fecha_matricula', cellsalign: 'center', width: '10%' },

                        { text: 'Alias', align: 'center', datafield: 'alias', cellsalign: 'left', width: '10%' },
                        { text: 'Alumno', align: 'center', datafield: 'alumno', cellsalign: 'left', width: '10%' },
                        { text: 'Tutor', align: 'center', datafield: 'tutor', cellsalign: 'left', width: '10%' },

                        { text: 'Horario', align: 'center', datafield: 'horario', cellsalign: 'left', width: '20%' },
                        { text: 'Año', align: 'center', datafield: 'anio_matricula', cellsalign: 'center', width: '8%' },
                        { text: 'Mes', align: 'center', datafield: 'mes_matricula', cellsalign: 'right', width: '7%' },

                        { text: 'Forma Pago', align: 'center', datafield: 'forma_pago', cellsalign: 'left', width: '9%' },
                        { text: 'Total', align: 'center', datafield: 'total', cellsalign: 'right', width: '10%', cellsformat: 'd2' },
                        { text: 'Importe', align: 'center', datafield: 'importe', cellsalign: 'right', width: '10%', cellsformat: 'd2' },
                        { text: 'Saldo', align: 'center', datafield: 'saldo', cellsalign: 'right', width: '10%', cellsformat: 'd2' }
                    ]
                }
            )
        );

        function fn_updateRowFormaPago(rowdata, commit){
            //commit(true);
            //console.log(rowdata);
            //return false;
            var datos = {
                id: rowdata.id_matricula,
                descripcion: rowdata.forma_pago
            };
            console.log(datos);
            //return false;
            $.ajax({
                type: "POST",
                url: '/updateFormaPagoReportePagosAlumno',
                data: datos,
                dataType: 'json',
                success: function(result){
                    //console.log(result);
                    if(result.status == "success") {
                        commit(true);
                        $('#grid').jqxGrid('autoresizecolumns');
                        //alert("Proceso realizado satisfactoriamente");
                        return false;
                    }else{
                        alert("Error: Vuelva a intentarlo");
                        return false;
                    }
                },error: function (xhr, ajaxOptions, thrownError) {
                    alert("ERROR: " + xhr.responseText+" - "+thrownError);
                }
            });
        }

        function fn_reporteCierreDiario(datos){
            //console.log("MES:" + mes);
            //console.log("ANIO:" + anio);
            $.getJSON('/reporteCierreDiarioMatricula/'+datos.fechaInicio+'/'+datos.fechaFin+'/'+datos.rucEmpresa+'/'+datos.formaPago, function(json) {
                //console.log(json.registros[0]);
                //return false;
                var source =
                    {
                        datatype: "json",
                        /*updaterow: function (rowid, rowdata, commit) {
                            fn_updateRowFormaPago(rowdata, commit);
                        },*/
                        datafields: [
                            { name: 'id_matricula', type: 'int'},
                            { name: 'fecha_matricula', type: 'string'},
                            { name: 'alias', type: 'string'},
                            { name: 'alumno', type: 'string'},
                            { name: 'tutor', type: 'string'},
                            { name: 'horario', type: 'string'},
                            { name: 'anio_matricula', type: 'int'},
                            { name: 'mes_matricula', type: 'int'},
                            { name: 'forma_pago', type: 'string'},
                            { name: 'total', type: 'float'},
                            { name: 'importe', type: 'float'},
                            { name: 'saldo', type: 'float'}
                        ],
                        localdata: json.registros[0]
                    };
                var dataAdapter = new $.jqx.dataAdapter(source);

                $("#grid").jqxGrid(
                {
                    source: dataAdapter
                });
                $('#grid').jqxGrid('autoresizecolumns');
            });
        }

    });
</script>
</body>
</html>