<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Escuela de Gimnasia</title>
    <script type="text/javascript" src="javascripts/scripts.js"></script>

</head>
<body>
<% include menu %>

<div class="row fill-height-91">
    <div class="col-md-12 fill-height-91">
        <div id="jqxToolBar"></div>
        <div id="grid"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#jqxToolBar").jqxToolBar(
                $.extend( {},
                        vDefaultOptionsToolBar,
                        {
                            tools: 'custom | custom | custom | custom | custom | custom | custom | custom', //| input | custom | custom | custom | custom
                            initTools: function (type, index, tool, menuToolIninitialization) {
                                switch (index) {
                                    case 0:
                                        var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'><b>PAGOS MATRICULADOS &nbsp;&nbsp; </b></div>";
                                        tool.append(label);
                                        break;
                                    case 1:
                                        var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'>Inicio: </div>";
                                        tool.append(label);
                                        break;
                                    case 2:
                                        var fecha = $("<div id='FechaIniOS' style='margin-top: -2px;'></div>").jqxDateTimeInput({
                                            theme: theme2,
                                            value: new Date(anioActual, mesActual, 1),
                                            width: 105,
                                            height: 25,
                                            culture: 'es-ES'
                                        });
                                        tool.append(fecha);
                                        break;
                                    case 3:
                                        var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'>Fin: </div>";
                                        tool.append(label);
                                        break;
                                    case 4:
                                        var fecha = $("<div id='FechaFinOS' style='margin-top: -2px;'></div>").jqxDateTimeInput({
                                            theme: theme2,
                                            value: new Date(anioActual, mesActual, ultimoDiaMesActual),
                                            width: 105,
                                            height: 25,
                                            culture: 'es-ES'
                                        });
                                        tool.append(fecha);
                                        break;
                                    /*case 5:
                                        var toggleBtn = $("<div style='float: left; margin-left: 2px; position: relative; margin-top: -2px; cursor: pointer;'><img style='position: relative; margin-top: 0px; margin-left: 3px;' src='images/notepad-20.png'/><span style='margin-left: 4px; position: relative;'></span></div>").jqxToggleButton({
                                            theme: theme2,
                                            width: 30,
                                            height: 19,
                                            toggled: true
                                        });
                                        tool.append(toggleBtn);
                                        toggleBtn.click(function (event) {
                                            var toggled = toggleBtn.jqxToggleButton('toggled');
                                            if (toggled) {
                                                console.log('Toggled On');
                                            } else {
                                                console.log('Toggled Off');
                                            }
                                        });
                                        break;*/
                                    case 5:
                                        var searchBtn = $("<div style='float: left; margin-left: 2px; position: relative; margin-top: -2px; cursor: pointer;'><img style='position: relative; margin-top: 0px; margin-left: 3px;' src='images/search.png'/><span style='margin-left: 4px; position: relative;'></span></div>").jqxButton({
                                            theme: theme2,
                                            width: 30,
                                            height: 19
                                        });
                                        tool.append(searchBtn);
                                        searchBtn.click(function (event) {
                                            var tools = $("#jqxToolBar").jqxToolBar("getTools");
                                            var fechaIni = fn_convertFecha_DMY_to_SQL($("#FechaIniOS").val());
                                            var fechaFin = fn_convertFecha_DMY_to_SQL($("#FechaFinOS").val());

                                            fn_reportePagosMatriculados(fechaIni, fechaFin);
                                        });
                                        break;
                                    case 6:
                                        var exportBtn = $("<div style='float: left; margin-left: 2px; position: relative; margin-top: -2px; cursor: pointer;'><img style='position: relative; margin-top: 0px; margin-left: 3px;' src='images/icon_excel_02_20.png'/><span style='margin-left: 4px; position: relative;'></span></div>").jqxButton({
                                            theme: theme2,
                                            width: 30,
                                            height: 19
                                        });
                                        tool.append(exportBtn);
                                        exportBtn.click(function (event) {
                                            var tools = $("#jqxToolBar").jqxToolBar("getTools");
                                            var JSONData = $("#grid").jqxGrid('exportdata', 'json');
                                            fn_JSONToCSVConvertor(JSONData, "RepPagosMatriculados", "", true);

                                        });
                                        break;
                                }
                            }
                        }
                )
        )


        $("#grid").jqxGrid(
            $.extend(
                {}, vDefaultOptionsGrid,
                {
                    pageable: true,
                    pagermode: 'simple',
                    selectionmode: 'singlerow',
                    columns: [
                        { text: 'Clase', align: 'center', datafield: 'horario', cellsalign: 'left', width: '20%' },
                        { text: 'Año', align: 'center', datafield: 'anio_matricula', cellsalign: 'center', width: '8%' },
                        { text: 'Mes', align: 'center', datafield: 'mes_matricula', cellsalign: 'right', width: '7%' },
                        { text: 'Sexo', align: 'center', datafield: 'sexo', cellsalign: 'center', width: '10%' },
                        { text: 'Edades', align: 'center', datafield: 'edades', cellsalign: 'left', width: '10%' },
                        { text: 'Dias', align: 'center', datafield: 'dias', cellsalign: 'left', width: '10%' },
                        ////{ text: 'Horario', align: 'center', datafield: 'HORARIO', cellsalign: 'center', width: '30%' },

                        { text: 'Profesor', align: 'center', datafield: 'profesor', cellsalign: 'left', width: '25%' },
                        { text: 'Alumno', align: 'center', datafield: 'alumno', cellsalign: 'left', width: '25%' },
                        { text: 'Tutor', align: 'center', datafield: 'tutor', cellsalign: 'left', width: '25%' },

                        { text: 'Fecha', align: 'center', datafield: 'fecha_matricula', cellsalign: 'center', width: '10%' },
                        ////{ text: 'Monto Importe', align: 'center', datafield: 'MONTO_IMPORTE', cellsalign: 'right', width: '10%' },
                        //{ text: 'Tipo Pago', align: 'center', datafield: 'TIPO_PAGO', cellsalign: 'right', width: '12%' },
                        //{ text: 'Documento', align: 'center', datafield: 'DOCUMENTO', cellsalign: 'right', width: '10%' },

                        { text: 'Total', align: 'center', datafield: 'total', cellsalign: 'right', width: '10%', cellsformat: 'd2' },
                        { text: 'Pago', align: 'center', datafield: 'pago', cellsalign: 'right', width: '10%', cellsformat: 'd2' },
                        { text: 'Saldo', align: 'center', datafield: 'saldo', cellsalign: 'right', width: '10%', cellsformat: 'd2' }
                    ]
                }
            )
        );

        function fn_reportePagosMatriculados(fechaIni, fechaFin){
            $.getJSON('/reportePagosMatriculadosAlumnos/'+fechaIni+'/'+fechaFin, function(json) {
                console.log(json);
                var source =
                    {
                        datatype: "json",
                        datafields: [
                            { name: 'id_horario', type: 'int'},
                            { name: 'horario', type: 'string'},
                            { name: 'anio_matricula', type: 'int'},
                            { name: 'mes_matricula', type: 'int'},
                            { name: 'sexo', type: 'string'},
                            { name: 'edades', type: 'string'},
                            { name: 'dias', type: 'string'},
                            { name: 'id_alumno', type: 'int'},
                            { name: 'profesor', type: 'string'},
                            { name: 'alumno', type: 'string'},
                            { name: 'tutor', type: 'string'},
                            { name: 'fecha_matricula', type: 'string'},
                            /*{ name: 'nombres_alumno', type: 'string'},
                            { name: 'apellidos_tutor', type: 'string'},
                            { name: 'nombres_tutor', type: 'string'},
                            { name: 'telefono_tutor', type: 'string'},
                            { name: 'celular_tutor', type: 'string'},
                            { name: 'email_tutor', type: 'string'},*/
                            { name: 'total', type: 'float'},
                            { name: 'pago', type: 'float'},
                            { name: 'saldo', type: 'float'}
                        ],
                        localdata: json.registros[0]
                    };
                var dataAdapter = new $.jqx.dataAdapter(source);

                $("#grid").jqxGrid(
                {
                    source: dataAdapter
                });
                $('#grid').jqxGrid('autoresizecolumns');
            });
        }

    });
</script>
</body>
</html>