<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Escuela de Gimnasia</title>
    <script type="text/javascript" src="javascripts/scripts.js"></script>

</head>
<body>
<% include menu %>

<div class="row fill-height-91">
    <div class="col-md-12 fill-height-91">
        <div id="jqxToolBar"></div>
        <div id="grid"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var meses = [
            { id_mes: 1, mes: "Enero"},
            { id_mes: 2, mes: "Febrero"},
            { id_mes: 3, mes: "Marzo"},
            { id_mes: 4, mes: "Abril"},
            { id_mes: 5, mes: "Mayo"},
            { id_mes: 6, mes: "Junio"},
            { id_mes: 7, mes: "Julio"},
            { id_mes: 8, mes: "Agosto"},
            { id_mes: 9, mes: "Setiembre"},
            { id_mes: 10, mes: "Octubre"},
            { id_mes: 11, mes: "Noviembre"},
            { id_mes: 12, mes: "Diciembre"}
        ];
        var f = new Date();
        var anios = [];

        for(var x= f.getFullYear() + 1; x>= 2007;x--){
            anios.push(x);
        }
        $("#jqxToolBar").jqxToolBar(
                $.extend( {},
                        vDefaultOptionsToolBar,
                        {
                            tools: 'custom | custom | custom | custom | custom | custom | custom | custom', //| input | custom | custom | custom | custom
                            initTools: function (type, index, tool, menuToolIninitialization) {
                                switch (index) {
                                    case 0:
                                        var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'><b>RESUMEN ALUMNOS POR CLASE &nbsp; </b></div>";
                                        tool.append(label);
                                        break;
                                    case 1:
                                        var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'>Mes: </div>";
                                        tool.append(label);
                                        break;
                                    case 2:
                                        /*var fecha = $("<div id='FechaIniOS' style='margin-top: -2px;'></div>").jqxDateTimeInput({
                                            theme: theme2,
                                            value: new Date(anioActual, mesActual, 1),
                                            width: 105,
                                            height: 25,
                                            culture: 'es-ES'
                                        });
                                        tool.append(fecha);*/
                                        tool.jqxDropDownList(
                                            $.extend(
                                                {}, vDefaultOptionsDropDownList, {
                                                    width: 80,
                                                    source: meses,
                                                    displayMember: "mes",
                                                    valueMember: "id_mes",
                                                    dropDownWidth: 150,
                                                    dropDownHeight: 150
                                                }
                                            )
                                        );
                                        tool.jqxDropDownList('selectItem', mesActual + 1);
                                        break;
                                    case 3:
                                        var label = "<div style='float: left; margin-left: 2px; margin-top: 3px;'>Año: </div>";
                                        tool.append(label);
                                        break;
                                    case 4:
                                        /*var fecha = $("<div id='FechaFinOS' style='margin-top: -2px;'></div>").jqxDateTimeInput({
                                            theme: theme2,
                                            value: new Date(anioActual, mesActual, ultimoDiaMesActual),
                                            width: 105,
                                            height: 25,
                                            culture: 'es-ES'
                                        });
                                        tool.append(fecha);*/
                                        tool.jqxDropDownList(
                                            $.extend(
                                                {}, vDefaultOptionsDropDownList, {
                                                    width: 80,
                                                    source: anios,
                                                    dropDownHeight: 100
                                                }
                                            )
                                        );
                                        tool.jqxDropDownList('selectItem', anioActual);
                                        break;
                                    /*case 5:
                                        var toggleBtn = $("<div style='float: left; margin-left: 2px; position: relative; margin-top: -2px; cursor: pointer;'><img style='position: relative; margin-top: 0px; margin-left: 3px;' src='images/notepad-20.png'/><span style='margin-left: 4px; position: relative;'></span></div>").jqxToggleButton({
                                            theme: theme2,
                                            width: 30,
                                            height: 19,
                                            toggled: true
                                        });
                                        tool.append(toggleBtn);
                                        toggleBtn.click(function (event) {
                                            var toggled = toggleBtn.jqxToggleButton('toggled');
                                            if (toggled) {
                                                console.log('Toggled On');
                                            } else {
                                                console.log('Toggled Off');
                                            }
                                        });
                                        break;*/
                                    case 5:
                                        var searchBtn = $("<div style='float: left; margin-left: 2px; position: relative; margin-top: -2px; cursor: pointer;'><img style='position: relative; margin-top: 0px; margin-left: 3px;' src='images/search.png'/><span style='margin-left: 4px; position: relative;'></span></div>").jqxButton({
                                            theme: theme2,
                                            width: 30,
                                            height: 19
                                        });
                                        tool.append(searchBtn);
                                        searchBtn.click(function (event) {
                                            /*var tools = $("#jqxToolBar").jqxToolBar("getTools");
                                            var fechaIni = fn_convertFecha_DMY_to_SQL($("#FechaIniOS").val());
                                            var fechaFin = fn_convertFecha_DMY_to_SQL($("#FechaFinOS").val());

                                            */
                                            //fn_reportePagosMatriculados(fechaIni, fechaFin);
                                            var tools = $("#jqxToolBar").jqxToolBar("getTools");
                                            var mes = tools[2].tool.jqxDropDownList('val');
                                            var anio = tools[4].tool.jqxDropDownList('val');
                                            fn_reporteResumenAlumnosClase(mes, anio);
                                        });
                                        break;
                                    case 6:
                                        var exportBtn = $("<div style='float: left; margin-left: 2px; position: relative; margin-top: -2px; cursor: pointer;'><img style='position: relative; margin-top: 0px; margin-left: 3px;' src='images/icon_excel_02_20.png'/><span style='margin-left: 4px; position: relative;'></span></div>").jqxButton({
                                            theme: theme2,
                                            width: 30,
                                            height: 19
                                        });
                                        tool.append(exportBtn);
                                        exportBtn.click(function (event) {
                                            var tools = $("#jqxToolBar").jqxToolBar("getTools");
                                            var JSONData = $("#grid").jqxGrid('exportdata', 'json');
                                            fn_JSONToCSVConvertor(JSONData, "RepAlumnosClase", "", true);
                                        });
                                        break;
                                }
                            }
                        }
                )
        )

        $("#grid").jqxGrid(
            $.extend(
                {}, vDefaultOptionsGrid,
                {
                    pageable: true,
                    editable: false,
                    pagermode: 'simple',
                    selectionmode: 'singlerow',
                    pagesize: 20,
                    columns: [
                        { text: 'Año', align: 'center', datafield: 'anio_matricula', cellsalign: 'center', width: '8%' },
                        { text: 'Mes', align: 'center', datafield: 'mes_matricula', cellsalign: 'right', width: '7%' },
                        { text: 'Horario', align: 'center', datafield: 'horario', cellsalign: 'left', width: '20%' },

                        { text: 'Dias', align: 'center', datafield: 'dias', cellsalign: 'left', width: '10%' },
                        { text: 'Edades', align: 'center', datafield: 'edades', cellsalign: 'left', width: '10%' },
                        { text: 'Hora', align: 'center', datafield: 'hora', cellsalign: 'left', width: '15%' },

                        { text: 'Capacidad', align: 'center', datafield: 'capacidad', cellsalign: 'right', width: '15%', cellsformat: 'd0', aggregates: ['sum'],
                            aggregatesrenderer: function (aggregates, column, element, summaryData) {
                                var renderstring = "<div class='jqx-widget-content jqx-widget-content-" + theme + "' style='float: right; width: 100%; height: 100%;'>";
                                $.each(aggregates, function (key, value) {
                                    renderstring += '<div style="position: relative; margin-right: 2px; margin-left: 4px; margin-top: 4px; text-align: right; overflow: hidden; font-size:14px;"><b>' + value + '</b></div>';
                                });
                                renderstring += "</div>";
                                return renderstring;
                            }
                        },

                        { text: 'Matriculados', align: 'center', datafield: 'total', cellsalign: 'right', width: '10%', cellsformat: 'd0', aggregates: ['sum'],
                            aggregatesrenderer: function (aggregates, column, element, summaryData) {
                                var renderstring = "<div class='jqx-widget-content jqx-widget-content-" + theme + "' style='float: right; width: 100%; height: 100%;'>";
                                $.each(aggregates, function (key, value) {
                                    renderstring += '<div style="position: relative; margin-right: 2px; margin-left: 4px; margin-top: 4px; text-align: right; overflow: hidden; font-size:14px;"><b>' + value + '</b></div>';
                                });
                                renderstring += "</div>";
                                return renderstring;
                            }
                        },

                        { text: 'Vacantes', align: 'center', datafield: 'vacantes', cellsalign: 'right', width: '15%', cellsformat: 'd0', aggregates: ['sum'],
                            aggregatesrenderer: function (aggregates, column, element, summaryData) {
                                var renderstring = "<div class='jqx-widget-content jqx-widget-content-" + theme + "' style='float: right; width: 100%; height: 100%;'>";
                                $.each(aggregates, function (key, value) {
                                    renderstring += '<div style="position: relative; margin-right: 2px; margin-left: 4px; margin-top: 4px; text-align: right; overflow: hidden; font-size:14px;"><b>' + value + '</b></div>';
                                });
                                renderstring += "</div>";
                                return renderstring;
                            }
                        }
                    ]
                }
            )
        );

        function fn_updateRowFormaPago(rowdata, commit){
            //commit(true);
            //console.log(rowdata);
            //return false;
            var datos = {
                id: rowdata.id_matricula,
                descripcion: rowdata.forma_pago
            };
            console.log(datos);
            //return false;
            $.ajax({
                type: "POST",
                url: '/updateFormaPagoReportePagosAlumno',
                data: datos,
                dataType: 'json',
                success: function(result){
                    //console.log(result);
                    if(result.status == "success") {
                        commit(true);
                        $('#grid').jqxGrid('autoresizecolumns');
                        //alert("Proceso realizado satisfactoriamente");
                        return false;
                    }else{
                        alert("Error: Vuelva a intentarlo");
                        return false;
                    }
                },error: function (xhr, ajaxOptions, thrownError) {
                    alert("ERROR: " + xhr.responseText+" - "+thrownError);
                }
            });
        }

        function fn_reporteResumenAlumnosClase(mes, anio){
            //console.log("MES:" + mes);
            //console.log("ANIO:" + anio);
            $.getJSON('/reporteresumenAlumnosClaseMatriculados/'+mes+'/'+anio, function(json) {
                console.log(json);
                var source =
                    {
                        datatype: "json",
                        updaterow: function (rowid, rowdata, commit) {
                            fn_updateRowFormaPago(rowdata, commit);
                        },
                        datafields: [
                            { name: 'id_horario', type: 'int'},
                            { name: 'horario', type: 'string'},
                            { name: 'anio_matricula', type: 'int'},
                            { name: 'mes_matricula', type: 'int'},
                            { name: 'edades', type: 'string'},
                            { name: 'dias', type: 'string'},
                            { name: 'hora', type: 'string'},
                            { name: 'capacidad', type: 'int'},
                            { name: 'total', type: 'int'},
                            { name: 'vacantes', type: 'int'}
                        ],
                        localdata: json.registros[0]
                    };
                var dataAdapter = new $.jqx.dataAdapter(source);

                $("#grid").jqxGrid(
                {
                    source: dataAdapter
                });
                $('#grid').jqxGrid('autoresizecolumns');
            });
        }

    });
</script>
</body>
</html>